body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.header, .footer {
    padding: 20px;
    width: 100%;
}

.header {
    background-color: #4e89ae;
    color: #f4f4f4;
    border-bottom: 3px solid #2a628f;
}

.footer {
    background-color: #333;
    color: #f4f4f4;
    padding: 5px;
    position: fixed;
    bottom: 0;
    font-size: 12px;
}



#container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: bisque;
    border-color: black;

}

.grid-square {
    width: 40px;
    height: 40px;
    border: 1px solid #ddd;
}

#size-btn {
    margin-bottom: 20px;
}
